body {
    margin: 0;
}

#playingFieldBack {
    background-color: pink;
    position: absolute;
    white-space:nowrap
}

#playingField {
    position: absolute;
    white-space:nowrap
}

.field {
    margin: 1vw auto;
}

#timeoutFrame {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url("./images/fon0.png") center center;
    background-size: cover;
}

.tileImg {
    vertical-align: top;
    overflow: hidden
}


.blink {
    -webkit-animation: blink 1s linear infinite;
    animation: blink 1s linear infinite;
}
@-webkit-keyframes blink {
    100% {opacity: 0}
}
@keyframes blink {
    100% {opacity: 0}
}
